<div style="text-align:center">
  <div class="row">
    <div class="col-sm-4">
    <a routerLink="anleitungen"><h2>Hier geht es zu den Anleitungen</h2></a>
    <app-carousel-basic></app-carousel-basic>
  </div>
  <div class="col-sm-4">
    <a routerLink="karte"><h2>Hier findest du Hilfe bei der Reparatur in deiner Nähe</h2>
    <img style="width: 80%" src="assets/img/map.PNG" alt="Hier sollte ein Kartenausschnitt angezeigt werden"></a>
  </div>
<div class="col-sm-4">
  <a routerLink="forum">
    <h2>Hier kannst du dich mit Gleichgesinnten austauschen</h2>
    <img style="width: 70%" src="https://cdn.pixabay.com/photo/2015/03/31/16/26/forum-701280_1280.jpg">
  </a>
</div>
</div>
</div>


