<!--<div *ngIf="sessionUser === null">-->
<!--  Du bist nicht eingeloggt.-->
<!--</div>-->
<!--<div *ngIf="sessionUser !== null">-->
<!--  Du bist eingeloggt, {{ sessionUser.username }}!!!!!!!!!!!-->
<!--</div>-->
<!--<li class="nav-item">-->
<!--  <a class="nav-link" *ngIf="sessionUser === null" routerLink="login">Login / Registrieren</a>-->
<!--&lt;!&ndash;</li>&ndash;&gt;-->
<!--<li class="nav-item">-->
<!--  <a class="nav-link" *ngIf="sessionUser === null" routerLink="registrieren">Registrieren</a>-->
<!--</li>-->
<!--<li class="nav-item">-->
<!--  <a class="nav-link" *ngIf="sessionUser === null" routerLink="#">Registrieren</a>-->
<!--</li>-->
<!--<li class="nav-item">-->
<!--</li>-->
<!--<li class="nav-item">-->
<!--  <a class="nav-link" *ngIf="sessionUser !== null" routerLink="login">Logout</a>-->
<!--</li>-->
<!--<li class="nav-item">-->
