<nav class="navbar navbar-expand-md navbar-light" style="background-color: snow;">
  <a class="navbar-brand" routerLink="/"><img class="logo" src='assets/img/GuterRadColor.png'></a>
  <button class="navbar-toggler" type="button" (click)="toggleNavbar()">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" [ngClass]="{ 'show': navbarOpen }">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink= "/anleitungen">Anleitungen</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/karte']">Radhilfe-Karte</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/forum']">Forum</a>
      </li>
            <li class="nav-item">
              <a class="nav-link" *ngIf="sessionUser === null" routerLink="login">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" *ngIf="sessionUser === null" routerLink="registrieren">Registrieren</a>
            </li>
            <li class="nav-item">
            </li>
            <li class="nav-item">
              <a class="nav-link" *ngIf="sessionUser !== null" routerLink="login">Logout</a>
            </li>
      <li class="nav-item">
        <app-session-user></app-session-user>
      </li>
    </ul>
  </div>
</nav>
<!--Bootstrap benötigt ein Element, in dem Seiteninhalte und das Raster-System verpackt sind.-->
<!--entweder container oder container-fluid wenn die gesamte Breite des Anzeigefensters eingenommen werden soll-->
<div class="container-fluid">
<!--<app-session-user></app-session-user>-->
<!--<app-login></app-login>-->
<router-outlet></router-outlet>
</div>
