<div>
  <label>Name: <input type="string" [(ngModel)]="neuerUser.username" placeholder="Nutzername"> </label>
</div>
<div>
  <label>Email: <input type="email" [(ngModel)]="neuerUser.email" placeholder="Email">
  </label>
</div>
<div>
  <label>Passwort: <input type="password" [(ngModel)]="neuerUser.password1" placeholder="Password min. 5 Zeichen"> </label>
</div>
<div>
  <label>Passwort wiederholen: <input type="password" [(ngModel)]="neuerUser.password2" placeholder="Password ">
  </label>
</div>
<button (click)="registrieren()" [routerLink]="['/login']" class="btn btn-success"
        [disabled]="neuerUser.password1 !== neuerUser.password2">Registrieren
</button>
<p *ngIf="neuerUser.password1 !== neuerUser.password2" style="color:red"> Passwörter ungleich! </p>


