<h2>Willkommen im Forum!</h2>
<div class="row">
  <input class="form-control" type="text" name="search" [(ngModel)]="searchText" autocomplete="off" placeholder="Suche">
</div>
<br>
<div class="card-deck">
  <div *ngFor="let b of forumBeitraege |filter:searchText">
    <div class="card">
      <div class="card-header"><h4 class="card-title">{{b.title}}</h4></div>
      <div class="card-body">
        <h5 clas="card-text" style="color: #6A7275">{{b.text | slice:0:60}}...</h5>
        <p><small>verfasst von {{b.name}}</small></p>
        <p><button class="btn btn-light" routerLink="/forum/{{b.id}}">Kommentare anzeigen</button></p>
      </div>
    </div>
  </div>

  <div *ngIf="sessionUser !== null">
    <div class="card">
      <div class="card-header"><h2>Dein Beitrag:</h2></div>
      <div class="card-body">
        <p><textarea class="textinput" [(ngModel)]="neuerBeitrag.title" style="height:40px;font-size:15pt">Titel</textarea></p>
        <p><textarea class="textinput" [(ngModel)]="neuerBeitrag.text" style="height:200px;font-size:15pt">Text</textarea></p>
        <p><small>Autor: {{sessionUser.username}}</small></p>
        <br>
        <button class="btn btn-light" (click)="writeEintrag()">Senden</button>
      </div>
    </div>
  </div>
</div>



