<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-header">
        <h5 class="card-title">{{forumBeitrag.title}}</h5><br>
        <p class="card-text">{{forumBeitrag.text}}</p><br>
        <p><small>verfasst von {{forumBeitrag.name}}</small></p><br>
        <button class="btn btn-outline-dark" (click)="loescheBeitrag()" *ngIf="sessionUser.username === forumBeitrag.name">
          Beitrag Löschen
        </button>
      </div>
      <div class="card-body">

      </div>
      <!--    <button class="btn btn-light btn-block mb-3" (click)="bearbeiteBeitrag()" *ngIf="sessionUser.username === forumBeitrag.name" >Bearbeiten</button>-->
<!--      <app-comment></app-comment>-->
      <h5>Bisherige Kommentare:
      <small><button (click)="showExtended = !showExtended" class="btn btn-light btn-sm"><i [ngClass]="showExtended ? 'fa fa-plus' : 'fa fa-minus'"></i> </button></small></h5>
      <ul *ngFor="let c of comments" class="list-group list-group-flush" >
        <li class="list-group-item" *ngIf="hilfsid === c.beitragsId.toString() && !showExtended" style="color: #6A7275">{{c.text}}</li>
      </ul>

      <div *ngIf="sessionUser !== null" class="card-body">
        <textarea type="textarea" [(ngModel)]="neuerComment.text" style="height:25px;font-size:10pt" placeholder="Dein Kommentar">Dein Kommentar</textarea><br>
        <button class="btn btn-outline-info" (click)="writeKommentar()" >Senden</button>
      </div>
    </div>
  </div>
</div>


