<form *ngIf="sessionUser === null" (ngSubmit)="login()">
  <label>Username: <input name="username" [(ngModel)]="loginData.username"></label><br>
  <label>Password: <input type="password" name="password" [(ngModel)]="loginData.password"></label><br>
  <button class="btn btn-light" type="submit">Los</button>
</form>
<br>
<div *ngIf="sessionUser === null">
  Du bist nicht eingeloggt.
</div>
<div *ngIf="sessionUser !== null">
  Herzlich Willkommen {{ sessionUser.username }}! Du bist eingeloggt.
</div>

<button class="btn btn-light" *ngIf="sessionUser !== null" (click)="logout()">Logout</button>

