<h2>Luftpumpen und Selbsthilfe-Werkstätten </h2>
<!--<div>-->
<!--  <p><iframe src="//de.batchgeo.com/map/21b0e8785660d764e7a5d01f771293e4" frameborder="0" width="100%" height="550" style="border:1px solid #aaa;"></iframe></p><p><small>View <a href="https://de.batchgeo.com/map/21b0e8785660d764e7a5d01f771293e4">full screen map</a></small></p>-->
<!--</div>-->

<!--<agm-map [latitude]="lat" [longitude]="lng">-->
<!--  <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>-->
<!--</agm-map>-->
