<ngb-carousel *ngIf="images">
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <a routerLink="anleitungen/{{1}}"> <img [src]="images[0]" alt="Anleitung_1"  style="width: 100%"></a>
    </div>
    <div class="carousel-caption">
      <h4>{{titles[0]}}</h4>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <a  routerLink="anleitungen/{{2}}"><img [src]="images[1]" alt="Anleitung_2"  style="width: 100%"></a>
    </div>
    <div class="carousel-caption">
      <h4>{{titles[1]}}</h4>
    </div>
  </ng-template>
  <ng-template ngbSlide>
    <div class="picsum-img-wrapper">
      <a  routerLink="anleitungen/{{3}}"><img [src]="images[2]" alt="Anleitung_3"  style="width: 100%"></a>
    </div>
    <div class="carousel-caption">
      <h4>{{titles[2]}}</h4>
    </div>
  </ng-template>
</ngb-carousel>
