<h2>Überblick über die Anleitungen</h2>
<!--  <div class="search-hero">-->

<div class="row">
  <input class="form-control input-group-sm" type="text" name="search" [(ngModel)]="searchText" autocomplete="off"
         placeholder="Suche"><br>
  <div class="col-lg-3 d-flex align-items-stretch" *ngFor="let e of anleitungen | filter:searchText">
    <div class="card article" *ngIf="e.imgURL && e.title && e.text">
      <img class="card-img-top" src="{{e.imgURL}}" alt="Anleitungsbild">
      <div class="card-body">
        <!--        "card-body"is a bootstrap class-->
        <h5 class="card-title">{{ e.title }}</h5>
        <h6 class="card-text">{{ e.text | slice:0:60 }}...</h6>
        <p><small>verfasst von {{e.author}}</small></p>
        <a class="btn btn-light btn-block mb-3" routerLink="/anleitungen/{{e.id}}">Mehr</a>
      </div>
    </div>
  </div>
  <!--  HIER KÖNNEN REGISTRIERETE NUTZER EIGENE ANLEITUNGEN SCHREIBEN-->
  <div class="ol-lg-3 d-flex align-items-stretch">
    <div class="card article">
      <div class="card-body" *ngIf="sessionUser !== null">
        <h5 class="card-title">Verfasse deine eigene Anleitung:</h5>
        <small><button (click)="showExtended = !showExtended" class="btn btn-light btn-sm"><i [ngClass]="showExtended ? 'fa fa-plus' : 'fa fa-minus'"></i> </button></small>
        <span *ngIf="!showExtended">
        <p class="card-text"> Titel: </p>
        <p><input class="form-control input-sm" style="height:40px;font-size:10pt;" [(ngModel)]="neueAnleitung.title">
        </p>
        <p class="card-text"> Bildpfad: <br>
          <input type="url" class="form-control input-sm" [(ngModel)]="neueAnleitung.imgURL"
                 placeholder="https.//www.beispielURL.com"></p>
        <p class="card-text">Text: <input class="form-control input-sm" [(ngModel)]="neueAnleitung.text"
                                          style="height:200px;font-size:15pt"></p>
        <p class="card-text"><small>Autor: {{sessionUser.username}}</small></p>
        <button class="btn btn-light btn-block mb-3" (click)="writeAnleitung()">Anleitung abschicken</button>
          </span>
      </div>
    </div>
  </div>
</div>
