/* You can add global styles to this file, and also import other style files */
body {
  /*background-color: #33c0c8;*/
  color:  #33c0c8;
  border: 5px solid #33c0c8;
  margin: 0;
  min-height: 100%;
  box-sizing: border-box;
  font-size: 100%
}

* {
  font-family: orbitron;
}

html {
  /*font-family: orbitron;*/
  height: 100%;
}

h1 {
  text-align: center;
  color: white;
  padding-bottom: 10px;
  margin: 0;

}

h2, h3, h4 {
  color: #33c0c8;
  font-size: 2em;
}

hr {
  margin: 20px -6px;
  color: #33c0c8;
  border: 0 none;
  border-top: 6px dotted;
}

.logo {
  flex: auto;
  width: 80px;
  top: 0;
}

nav {
  font-size: medium;
}

p, footer {
  color: #6A7275;
}

.article {
  margin-bottom: 2rem;
}

.textinput {
  float: left;
  width: 100%;
  min-height: 75px;
  outline: none;
  resize: none;
  border: 1px solid grey;
}

@media screen and (max-width: 64em) {
  h2 {
    font-size: 2em;
  }
  h5, .card-title {
    font-size: 1.5em;
  }
}

@media screen and (max-width: 50em) {
  h2 {
    font-size: 1.5em;
  }
  h5, .card-title {
    font-size: 1em;
  }

}

@media screen and (max-width: 30em){
  h2 {
    font-sitze: 1em;
  }
  h5 {
    font-size: 1em;
  }
  .card-title {
    font-size: 1.5em;
  }
}
/*agm-map {*/
/*  height: 300px;*/
/*}*/
/*#placeholder {*/
/*  font-size: small;*/
/*}*/
