<h2>{{ anleitung.title }}</h2>
<div class="row">
  <div class="col-sm-4">
    <img *ngIf="anleitung.imgURL" class="img-fluid" [src]="anleitung.imgURL" alt="Bild Kette"/>
    <!--    alternative schreibweise für property binding in zeile 7:-->
    <!--    <img *ngIf="anleitung.imgURL" class="img-fluid" src="{{anleitung.imgURL}}" alt="Bild Kette"/>-->
  </div>

  <div class="col-sm-8" *ngIf="sessionUser === null">
    <h5>{{anleitung.text}}</h5>
    <p><small>verfasst von {{anleitung.author}}</small></p>
  </div>

  <div class="col-sm-8" *ngIf="sessionUser !== null">
    <h5 *ngIf="sessionUser.username !== anleitung.author">{{anleitung.text}}</h5>
    <textarea *ngIf="sessionUser.username === anleitung.author" cols="70" rows="18" >{{anleitung.text}}</textarea>
    <p><small>verfasst von {{anleitung.author}}</small></p>
    <button class="btn btn-light" type="submit" name="submit" (click)="saveAnleitung()"
            *ngIf="sessionUser.username === anleitung.author || sessionUser.username === 'Admin'">Speichern
    </button><br>
    <button class="btn btn-light" (click)="loescheAnleitung()" *ngIf="sessionUser.username === 'Admin'">
      Anleitung löschen
    </button>
  </div>
</div>


